body{
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 30px;
}
a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
     
}

a:hover {
    transition: all 0.9 ease;
    background-color: #3d424df9;
  

   
   
}
